body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(135deg,#1f1c2c,#928dab);
font-family:Arial;
}

.calculator{
background:#1e1e2f;
padding:25px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.4);
width:260px;
}

h2{
text-align:center;
color:white;
margin-bottom:10px;
}

#display{
width:100%;
height:50px;
font-size:22px;
margin-bottom:15px;
text-align:right;
padding:10px;
border:none;
border-radius:8px;
background:#2e2e40;
color:white;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

button{
height:50px;
font-size:18px;
border:none;
border-radius:8px;
background:#3a3a55;
color:white;
cursor:pointer;
transition:0.2s;
}

button:hover{
background:#57577a;
}

.equal{
background:#ff9500;
}

.equal:hover{
background:#e08900;
}

.zero{
grid-column:span 3;
}